/* This Section Applies To Everything Unless otherwise set in Media Query */

body{
    background-color: rgb(224, 224, 224);
    margin-left: -0vw;
}

#topbuttons{
    display: inline;
}

#topbuttons img{
    height: 8vh;
    width:8vw;
    margin-left: 10vw;
}

.tbutton{
    float:right;
    margin-top:-10vh;
}


@media (max-width:2500px){

    header img{
        height: 70vh;
        width:96vw;
    }

    #toptext{
        background-color: rgb(219, 217, 217);
        height: 70vh;
        border:solid;
        border-width:2vw;
        border-color:rgb(58, 55, 55);
        width:96vw;
    }

    h1{
        color:rgb(10, 10, 10);
        text-align: center;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    #top{
        font-size: 8vh;
    }

    #top2{
        margin-top:0vh;
        font-size: 2.3vh;
    }

    #l1{
        background-color: #76a1a5;
        color: white;
        text-align: center;
        border: solid;
        border-width: 2vw;
        border-color:rgb(124, 57, 57);
        width:96vw;
    }
    
    .topl{
        margin-top:20vh;
        margin-left: 9vw;
        margin-right: 9vw;
        font-size: 4vh;

    }

    #midl img{
        width:40%;
    
    }
    
    #midl2 img{
        width:50%;
    
    }

    #midl3 img{
        width:40%;
    }

    #midl4 img{
        width:40%;
        margin-left: 8vw;
    }

    #midl5 img{
        width:40%;
        margin-left: 0vw;
    }

   
    .bottoml{
        margin-top:10vh ;
        margin-left: 9vw;
        margin-right: 9vw;
        font-size: 4vh;
    }

    #l2{
        background-size: contain;
        background-color:rgb(15, 15, 37) ;
        color:white;
        text-align: center;
        border:solid;
        border-width: 2vw;
        width:96vw;
        border-color:rgb(78, 18, 72);
    }

    #l3{
        background-size: contain;
        background-color:rgb(196, 109, 116) ;
        color:white;
        text-align: center;
        border:solid;
        border-width: 2vw;
        width:96vw;
        border-color:rgb(105, 183, 189);
    }

    #l4{
        background-size: contain;
        background-color:rgb(147, 135, 69) ;
        color:white;
        text-align: center;
        border:solid;
        border-width: 2vw;
        width:96vw;
        border-color:rgb(34, 52, 36);
    }

    #l5{
        background-size: contain;
        background-color:rgb(82, 147, 69) ;
        color:white;
        text-align: center;
        border:solid;
        border-width: 2vw;
        width:96vw;
        border-color:rgb(67, 52, 41);
    }


    footer p{
        margin-top: 6.5vh;
    }

    footer a{
        color:white;
    }
 

    footer{
        text-align: center;
        background-color: rgb(70, 68, 68);
        color:white;
        height:40vh;
        border:solid;
        border-width: 2vw;
        width:96vw;
        border-color:rgb(39, 38, 38);
        font-size: 3.5vh;
    }

}



@media (max-width:825px){

    header img{
        height: 85vh;
        width:96vw;
    }

    #toptext{
        background-color: rgb(219, 217, 217);
        height: 85vh;
        border:solid;
        border-width:2vw;
        border-color:rgb(58, 55, 55);
        width:96vw;
    }
    
    h1{
        color:rgb(10, 10, 10);
        text-align: center;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    
    h2{
        font-size: 12vh;
    }

    #top{
        font-size: 8vh;
    }

    #top2{
        margin-top:0vh;
        font-size: 2.3vh;
    }

    #l1{
        background-color: #76a1a5;
        color: white;
        text-align: center;
        border: solid;
        border-width: 2vw;
        border-color:rgb(124, 57, 57);
        width:96vw;
    }
    
    .topl{
        margin-top:20vh;
        margin-left: 9vw;
        margin-right: 9vw;
        font-size: 4vh;
        

    }

    #midl img{
        width:40%;
    
    }
    
    #midl2 img{
        width:50%;
    
    }

   
    
    .bottoml{
        margin-top:10vh ;
        margin-left: 9vw;
        margin-right: 9vw;
        font-size: 4vh;
    }



    #l2{
        background-size: contain;
        background-color:rgb(15, 15, 37) ;
        color:white;
        text-align: center;
        border:solid;
        border-width: 2vw;
        width:96vw;
        border-color:rgb(78, 18, 72);
    }

    #l3{
        background-size: contain;
        background-color:rgb(196, 109, 116) ;
        color:white;
        text-align: center;
        border:solid;
        border-width: 2vw;
        width:96vw;
        border-color:rgb(105, 183, 189);
    }

    #l4{
        background-size: contain;
        background-color:rgb(147, 135, 69)  ;
        color:white;
        text-align: center;
        border:solid;
        border-width: 2vw;
        width:96vw;
        border-color:rgb(34, 52, 36);
    }

    #l5{
        background-size: contain;
        background-color:rgb(82, 147, 69)  ;
        color:white;
        text-align: center;
        border:solid;
        border-width: 2vw;
        width:96vw;
        border-color:rgb(67, 52, 41);
    }


    footer p{
        margin-top: 6.5vh;
    }

 

    footer{
        text-align: center;
        background-color: rgb(70, 68, 68);
        color:white;
        height:40vh;
        border:solid;
        border-width: 2vw;
        width:96vw;
        border-color:rgb(39, 38, 38);
        font-size: 3.5vh;
    }

}

@media (max-width:450px){

    header img{
        height: 45vh;
        width:96vw;
    }

    #toptext{
        background-color: rgb(219, 217, 217);
        height: 45vh;
        border:solid;
        border-width:2vw;
        border-color:rgb(58, 55, 55);
        width:96vw;
    }
    
    h1{
        color:rgb(10, 10, 10);
        text-align: center;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    
    h2{
        font-size:8vh;
    }

    #top{
        font-size: 8vh;
    }

    #top2{
        margin-top:0vh;
        font-size: 2.3vh;
    }

    #l1{
        background-color: #76a1a5;
        color: white;
        text-align: center;
        border: solid;
        border-width: 2vw;
        border-color:rgb(124, 57, 57);
        width:96vw;
    }
    
    .topl{
        margin-top:20vh;
        margin-left: 9vw;
        margin-right: 9vw;

        

    }

   
    
    .bottoml{
        margin-top:10vh ;
        margin-left: 9vw;
        margin-right: 9vw;
    }



    #l2{
        background-size: contain;
        background-color:rgb(15, 15, 37) ;
        color:white;
        text-align: center;
        border:solid;
        border-width: 2vw;
        width:96vw;
        border-color:rgb(78, 18, 72);
    }

    #l3{
        background-size: contain;
        background-color:rgb(196, 109, 116) ;
        color:white;
        text-align: center;
        border:solid;
        border-width: 2vw;
        width:96vw;
        border-color:rgb(105, 183, 189);
    }

    #l4{
        background-size: contain;
        background-color:rgb(147, 135, 69)  ;
        color:white;
        text-align: center;
        border:solid;
        border-width: 2vw;
        width:96vw;
        border-color:rgb(34, 52, 36);
    }

    #l5{
        background-size: contain;
        background-color:rgb(82, 147, 69) ;
        color:white;
        text-align: center;
        border:solid;
        border-width: 2vw;
        width:96vw;
        border-color:rgb(67, 52, 41);
    }


    footer p{
        margin-top: 2.5vh;
    }

 

    footer{
        text-align: center;
        background-color: rgb(70, 68, 68);
        color:white;
        height:20vh;
        border:solid;
        border-width: 2vw;
        width:96vw;
        border-color:rgb(39, 38, 38);
        font-size: 2.6vh;
    }

}

@media only screen 
and (min-device-width : 750px) 
and (min-device-height : 1000px)
and (orientation: portrait){

      header img{
        height: 55vh;
        width:96vw;
    }

    #toptext{
        background-color: rgb(219, 217, 217);
        height: 55vh;
        border:solid;
        border-width:2vw;
        border-color:rgb(58, 55, 55);
        width:96vw;
    }

    h2{
       font-size:9vh;
      
    }

}




