    /* This Section Applies To Everything Unless otherwise set in Media Query */

   
    

    #backg{
        background-image: url(https://www.photohdx.com/images/2015/12/dark-grey-concrete-brick-wall-texture.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    h1{
       font-family: monospace;
       text-shadow: 2.5px 2.5px  rgb(29, 58, 1);
       color: rgb(238, 232, 232);
       padding-top: 5vh;
    }

    #lesson{
        position: absolute;
        margin-left:26vw;
        margin-top:12vh;
        transform: rotate(-12deg);
        font-family: 'Rock Salt', cursive;
        color: white;
        font-size:1.7rem;
        font-weight: bold;
    }

    h2{
        text-align: center;
    }

    h3{
        text-align: center;
    }
    
    header{
        text-align: center;
        background-color: rgb(216, 210, 138);
        border:solid  rgb(29, 58, 1);
        border-width:1vw;
        font-size: 4.5vh;
        height:48vh;
       
       
    }
    
    header p{
        font-size: 3.2vh;
        color:rgb(29, 58, 1);
        padding-left: 15vw;
        padding-right: 15vw;
        margin-top:0vh;
        line-height: 4vh;
    }
    
    
    .professor{
        display:block;
        color:white;
        padding:2em;
        margin-top:-30vh;
        margin-left: 5vw;
    }

    .professor img{
        width:40vw;
    }

    #chalkboard{
        background-color: seagreen;
        border:solid;
        border-color: brown;
        border-width: 20px; 
        font-size: 2vh;
        line-height: 7vh;
        width: 70vw;
        margin-left: 20vw;
    }
    
    ol{
        margin-left:38vw;
        height:46vh;
        width:34vw;
        padding:6vh;
        color:white;
        margin-top: 13vh; 
        font-family: 'Rock Salt', cursive;
    }

    #more{
        color: white;
        margin-left: 26vw;
        margin-top: -10vh !important;
    }
    
    #floor {
        height:10vh;
        margin-top: -6vh;
    }
    
    #floor img{
        height:10vh;
        border-top:solid black 1vh;
        width:100%;
    }

    #foot{
        margin-top: 7vh;
        font-size: 1.3rem;
    }

    footer a{
        color:white;
    }

    footer{
        text-align: center;
        background-color: black;
        color:white;
        height:26vh;
        padding:2em;
    }

