/* This Section Applies To Everything Unless otherwise set in Media Query */

body{
    text-align: center;
}

#topmessage{
    text-align: center;
    font-family: 'Russo One';
    background-color: #cc181e;
    border:black solid .5vw;
    color:white;
    font-size: 6rem;
    height:50vh;
    margin-top: 0vh;
}

#topmessage img{
    width:10vw;
    background-color: white;
}

#topmessage p{
   margin-top: 8vh;
}

#topmessage2{
    display:none;
}

.headings{
    display: inline-flex;
    height: 20vh;
    margin-top: 10vh;
}

.headings img{
    width:4vw;
}

.headings p{
   margin-top:8.5vh;
   font-size: 2.4em;
   font-family: 'Orbitron', sans-serif;
   color:white;
}

#icon1{
   margin-right: 5vw;
}

#icon2{
   margin-left: 5vw;
}

#videos{
    margin-top:8vh; 
}

.carousel-item{
    height:60vh;
}

iframe{
    margin-top: 5vh;
    width:44vw;
    height:44vh;
    border: .75vw solid white;
}



#textchoice {
    text-align: center;
    color:white;
    font-size: 1.4em;
    background-color: black;
    padding:.8em;
    margin-top: 15vh;
    border-top:solid #cc181e .25vw;
    border-bottom:solid #cc181e .25vw;
}

#textchoice p{
    margin-top: 2vh;
}

#lchoice img{
    float: left;
    height:13vh;
    width:6vw;
    padding-top:2vh;
    padding-bottom:2vh;
    margin-left:2vw;
}

#lchoice{
    color: rgb(73, 73, 73);
    margin-top: 2.5vh;
    background-color: rgb(255, 255, 255);
    font-size: 1.4em;
    width:60vw;
    border-width: 1.2vw;
    display: inline-flex;
    overflow-x: scroll;
}

#magnet{
    float: left;
    margin-left: 1vw;
}

#saturn{
    margin-left: 8vw;
    float: left;
}

#chem{
    margin-left: 8vw;
    float: left;
}

#dino{
    margin-left: 8vw;
    float: left;
}

#ocean{
    margin-left: 8vw;
    float: left;
}

#geo{
    margin-left: 8vw;
    float: left;
}

#bug{
    margin-left: 8vw;
    float: left;
}
#garden{
    margin-left: 8vw;
    float: left;
}

#zoo{
    margin-left: 8vw;
    float: left;
}

#dna{
    margin-left: 8vw;
    float: left;
}

footer p{
    margin-top:2.5vh;
    }

footer a{
    color:white;
    }

#foot{
    margin-top: -2vh;

}

footer{
    font-size: 1.5em;
    text-align: center;
    background-color: #cc181e;
    color:white;
    height:36vh;
    padding:2em;
    margin-top: 3vh;
    border:solid .5vw black;
}

@media only screen 
and (max-device-width : 1200px)
and (orientation : portrait){

    #topmessage{
        height:35vh !important;
    }

    #topmessage img{
        margin-top: 0vh;
    }

    .headings{
        margin-top: 0vh;
        font-size: 1.1rem;
    }

    .midsection{
        height:70vh;
        width: 90vw !important;
        margin-left: 5vw !important;
    }

    iframe{
        margin-top: 0vh;
        width:60vw;
        height:40vh;
    }

    #textchoice{
        margin-top: 5vh;
    }

    #lchoice img{
        height:10vh !important;
    }

    footer{
        height:30vh;
    }

}

@media(max-width:1000px){

   #topmessage{
        height:65vh;
    }

    #topmessage img{
        margin-top: -15vh;
    }

    .headings{
        margin-top: 2vh;
        font-size: .7rem;
    }

    iframe{
        height:48vh;
    }

    #lchoice img{
        height:15vh;
    }

    footer{
        height:60vh;
    }
}

@media(max-width:825px){

    #topmessage p{
        font-size: 4rem;
    }

    #topmessage img{
        margin-top: -25vh;
    }

    .headings{
        margin-top: 3vh;
        font-size: .65rem;
    }

    .midsection{
        height:90vh !important;
    }

    #foot{
        font-size: 1rem;
    }


}

@media only screen 
and (max-device-width : 800px)
and (orientation : portrait){


    #topmessage{
        height:40vh !important;
    }

    #topmessage img{
        margin-top: -5vh;
        width:20vw;
    }

    .headings{
        margin-top: 2vh;
        font-size: .7rem;
    }

    .midsection{
        height:68vh !important;
    }

    iframe{
        height:34vh;
    }

    #lchoice img{
        height:9vh !important;
    }

    footer{
        height:30vh;
    }

}

@media(max-width:600px){

    #topmessage p{
        font-size: 3.2rem;
    }

    #topmessage img{
        margin-top: -30vh;
    }

    .headings{
        font-size: .5rem;
    }

    #foot{
        margin-top: -4vh;
        font-size: .7rem;
    }

}

@media only screen 
and (max-device-width : 500px)
and (orientation : portrait){

    #topmessage{
        height:50vh !important;
    }

    #topmessage img{
        margin-top: -10vh;
    }

    .midsection{
        height:55vh !important;
    }

    iframe{
        height:26vh !important;
    }

    .carousel-control-prev{
        margin-top: -12vh;
    }

    .carousel-control-next{
        margin-top: -12vh;
    }

    #lchoice img{
        height:8vh !important;
    }

    #foot{
        font-size: .5rem;
        width:90vw;
        margin-left: -7.5vw;
    }

    footer{
        height:25vh !important;
    }


}

@media only screen 
and (max-device-width : 380px)
and (orientation : portrait){

    .headings{
        font-size: .4rem;
    }

    #foot{
        font-size: .45rem;
        width:90vw;
        margin-left: -8vw;
    }

}

@media only screen 
and (max-device-width : 320px)
and (orientation : portrait){

    #topmessage img{
        margin-top: -20vh;
    }

    #foot{
        margin-left: -10vw;
    }

    footer{
        height:30vh !important;
    }

}

