@media (max-width:2100px){

    body{
        background-color: rgb(51, 64, 32);
    }
    
    header img{
        width:98vw;
        margin-left: .5vw;
    }
        
    
    #cpack{
        text-align:center;
        color:white;
        font-family:monospace;
        font-size:4vh;
    }
        
    
    #cards{
       width:98vw;
       margin-left:0vw;
       margin-top:6vh;
       font-size: 3vh;
       overflow-x: scroll;
       text-align: center;
       display:inline-flex;
    }
    
    #cards img{
      padding:1.25em;
      height:160px;
      width:130px;
      background-color:white;
      border:black .5vw solid;
      border-radius:1em;
      background-size:18vh;
    }
    
 
        
    footer a{
        color:white;
    }
        
    footer p{
            font-size: 3.4vh;
            margin-top: 5vh;
    }
    
    footer{
            text-align: center;
            background-color: rgb(37, 37, 37);
            color:rgb(255, 255, 255);
            height:30vh;
            border: rgb(206, 206, 206) solid .5vw;
            width:98vw;
            padding:0em;
    
    }
    
    }

@media (max-width:1030px){

body{
    background-color: rgb(51, 64, 32);
}

header img{
    width:98vw;
    margin-left: .5vw;
}
    

#cpack{
    text-align:center;
    color:white;
    font-family:monospace;
    font-size:4vh;
}

#cards{
   width:96vw;
   margin-top:6vh;
   font-size: 3vh;
   overflow-x: scroll;
   display:inline-flex;
}

#cards img{
  padding:1.25em;
  height:160px;
  width:130px;
  background-color:white;
  border:black .5vw solid;
  border-radius:1em;
  background-size:18vh;
}

#magnet{
    margin-left: 4vw;
    float: left;
}

#saturn{
    margin-left: 12vw;
    float: left;
}

#chem{
    margin-left: 18vw;
    float: left;
}

#seasons{
    margin-left: 22vw;
    float: left;
}

#ocean{
    margin-left: 26vw;
    float: left;
}

#geo{
    margin-left: 30vw;
    float: left;
}

#bug{
    margin-left: 34vw;
    float: left;
}

#garden{
    margin-left: 38vw;
    float: left;
}

#atom{
    margin-left: 42vw;
    float: left;
}

#zoo{
    margin-left: 44vw;
    float: left;
}

#dna{
    margin-left: 48vw;
    float: left;
}

    
footer a{
    color:white;
}
    
footer p{
        font-size: 3.4vh;
        margin-top: 5vh;
}

footer{
        text-align: center;
        background-color: rgb(37, 37, 37);
        color:rgb(255, 255, 255);
        height:30vh;
        border: rgb(206, 206, 206) solid .5vw;
        width:98vw;
        padding:0em;

}

}

@media (max-width:825px){


header img{
        width:96vw;
        margin-left:1vw;
}

    
#cpack{
        font-size:6vh;
        margin-left:-2vw;
} 
    
#cards{
       width:96vw;
       margin-left: 0vw;
       margin-top: 1vh;
       display:inline-flex;
}    
    
#cards img{
  padding:1.25em;
  height:145px;
  width:130px;
  background-color:white;
  border:black .5vw solid;
  border-radius:1em;
  background-size:18vh;
  margin-top:8vh;
}

#magnet{
    margin-left: 4vw;
    float: left;
}

#saturn{
    margin-left: -6vw;
    float: left;
}

#chem{
    margin-left: -6vw;
    float: left;
}

#seasons{
    margin-left: -6vw;
    float: left;
}

#ocean{
    margin-left: -6vw;
    float: left;
}

#geo{
    margin-left: -6vw;
    float: left;
}

#bug{
    margin-left: -6vw;
    float: left;
}
#garden{
    margin-left: -6vw;
    float: left;
}

#atom{
    margin-left: -6vw;
    float: left;
}

#zoo{
    margin-left: -6vw;
    float: left;
}

#dna{
    margin-left: -6vw;
    float: left;
}

footer a{
    color:white;
}

footer p{
        margin-top: 6vh;
}

footer{
        text-align: center;
        background-color: rgb(32, 32, 32);
        color:rgb(255, 255, 255);
        height:36vh;
        border: rgb(206, 206, 206) solid .5vw;
        width:97vw;
        padding:0em;
}

}

@media (max-width:450px){

header img{
    width:98vw;
    height:50vh;
    margin-left:0vw;
}

#cpack{
    font-size:5vh;
    margin-left:0vw;
}

#cards{
    width:95vw;
    display:inline-flex;
}

#cards img{
  padding:1.25em;
  height:11vh;
  width:13vw;
  background-color:white;
  border:black .5vw solid;
  border-radius:1em;
  background-size:18vh;
  margin-top:4vh;
}


#magnet{
    margin-left: 4vw;
    float: left;
}

#saturn{
    margin-left: -6vw;
    float: left;
}

#chem{
    margin-left: -6vw;
    float: left;
}

#seasons{
    margin-left: -6vw;
    float: left;
}

#ocean{
    margin-left: -6vw;
    float: left;
}

#geo{
    margin-left: -6vw;
    float: left;
}

#bug{
    margin-left: -6vw;
    float: left;
}
#garden{
    margin-left: -6vw;
    float: left;
}

#atom{
    margin-left: -6vw;
    float: left;
}

#zoo{
    margin-left: -6vw;
    float: left;
}

#dna{
    margin-left: -6vw;
    float: left;
}

footer p{
    margin-top: 4vh;
    font-size: 2vh;
}

footer{
    text-align: center;
    background-color: rgb(32, 32, 32);
    color:rgb(255, 255, 255);
    height:26vh;
    border: rgb(206, 206, 206) solid .5vw;
    width:96vw;
    padding:0em;
    margin-left: 0vw;

}

}

@media only screen 
and (min-device-width : 750px) 
and (min-device-height : 1000px)
and (orientation: portrait){

#cards{
    width:96vw;
}

#magnet{
    margin-left: 4vw;
    float: left;
}

#saturn{
    margin-left: 14vw;
    float: left;
}

#chem{
    margin-left: 22vw;
    float: left;
}

#seasons{
    margin-left: 30vw;
    float: left;
}

#ocean{
    margin-left: 38vw;
    float: left;
}

#geo{
    margin-left: 46vw;
    float: left;
}

#bug{
    margin-left: 54vw;
    float: left;
}
#garden{
    margin-left: 62vw;
    float: left;
}

#atom{
    margin-left: 70vw;
    float: left;
}

#zoo{
    margin-left: 78vw;
    float: left;
}

#dna{
    margin-left: 86vw;
    float: left;
}


}



