/* This Section Applies To Everything Unless otherwise set in Media Query */


#tline{
  display:inline-flex;
  height:40vh;
  width:100vw;
}

h3{
    text-align: center;
    background-color:rgb(120, 118, 118);
    border:solid;
    border-radius: 12px;
    width:100vw;
    padding-top:.8em;
    padding-bottom:.8em;
    margin-left:0vw;
    color:white;
    font-size: 5vh;
}

h3 img{
    height:1.1em;
}


.words {
    display: inline-grid;
    font-family: monospace;
    text-align: center;
    height:32vh;
    font-size:2rem;
    background-color: rgb(65, 89, 91);
    margin-top: 3vh;
    border: solid;
    border-color: black;
    border-width: .25vw;
    transition: all .0s;
    margin-left: .8vw;
    border-radius:20px;
    width:23.5vw;

}

#row1{
    display:inline-flex;
    margin-top: 3vh;
}

#row1 p{
    margin-top: 8vh;
}

#row2{
    display:inline-flex;
}

#row2 p{
    margin-top: 8vh;
}
.words:hover {
    background-color:rgb(65, 89, 91);
    background-color: rgb(69, 87, 106);
}

.words p {
    color: whitesmoke;
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
}

.changetxtsize{
    font-size: 1.3vh;

}

#magnetcards {
    background-image: url(https://cdn3.vectorstock.com/i/thumb-large/53/42/magnet-icon-sign-symbol-in-modern-flat-style-vector-22275342.jpg);
    background-size: contain;
    height: 80vh;
    background-position: center;
    background-repeat:repeat;
    width:100vw;
}

#foot{
    margin-top: 8vh;
}

footer a{
    color:white;
}
    
footer p{
        font-size: 2vh;
}

footer{
        text-align: center;
        background-color: rgb(120, 118, 118);
        color:rgb(255, 255, 255);
        height:30vh;
        border: rgb(206, 206, 206) solid .5vw;
        width:99vw;
        padding:0em;

}   

@media(max-width:450px){

.words{
        font-size:2vh;
}

.changetxtsize{
        font-size:1.6vh;
} 

}

/* @media(max-width:2100px){

#tline p{
       font-size:5vh;
}


h1{
        margin-top: -5vh;
        font-size: 4.4em;
        margin-left: 20vw;
        margin-right: 20vw;
        line-height: 12vh;
    }

    h2{
        margin-left:10vw;
        margin-right: 10vw;
        font-family: monospace; 
    }
    

h3{
    text-align: center;
    background-color:rgb(156, 151, 151);
    border:solid;
    border-radius: 12px;
    width:98.5vw;
    padding-top:.8em;
    padding-bottom:.8em;
    margin-left:0vw;
}

.words {
        display: inline-flex;
        width:22vw;
        font-family: monospace;
        font-size: 2.2rem;
        height:26vh;
        background-color: rgb(69, 69, 90);
        margin-top: 3vh;
        border: solid;
        border-color: black;
        border-width: .25vw;
        transition: all .4s;
        margin-left: 1.3vw;
        border-radius:20px ;
        
    
    }
    
    .words:hover {
        background-color:rgb(53, 53, 59) ;
        background-color: rgb(110, 56, 54);
    }
    
    .words p {
        color: whitesmoke;
    
    }

    .changetxtsize{
        font-size: 1.3rem;
    }
    
    #magnetcards {
        background-image: url(http://www.kaz.guru/wp-content/uploads/2016/05/magnet.png);
        background-size: contain;
        height: 64vh;
        background-position: center;
        background-repeat:no-repeat;
        background-color: rgb(224, 222, 217);
        border:solid;
        border-width:.5vw;
        border-color:rgb(102, 82, 45);
        border-radius:1vw;
        text-align: center;

    }

    footer a{
        color:white;
    }
        
    footer p{
            font-size: 3.4vh;
            margin-top: 5vh;
    }
    
    footer{
            text-align: center;
            background-color: rgb(37, 37, 37);
            color:rgb(255, 255, 255);
            height:30vh;
            border: rgb(206, 206, 206) solid .5vw;
            width:98vw;
            padding:0em;
    
    }    
} */

/* @media (max-width:1300px){

    .words {
        width:21.2vw;  
    }

    h3{
        width:98vw;
    }

}

@media (max-width:825px){

h1{
        margin-top: -12vh;
    }

h2 {
        margin-left: 23vw;
        margin-right: 23vw;
        margin-top: -3vh;
    }

#magnetcards{
        height:100vh;
    }

.words{
        margin-left: .7vw;
        height:42vh;
        font-size: 3vh;
    }



    footer a{
        color:white;
    }
    
    footer p{
            margin-top: 6vh;
    }
    
    footer{
            text-align: center;
            background-color: rgb(32, 32, 32);
            color:rgb(255, 255, 255);
            height:36vh;
            border: rgb(206, 206, 206) solid .5vw;
            width:97vw;
            padding:0em;
    }

}

@media (max-width:450px){

h1{
        margin-top: 2vh;
        font-size: 2.5em;
        line-height: 7vh;
    }

    h2{
        padding-top: 5vh;
        font-size: 2vh;
        line-height: 3vh;
        margin-left: 15vw;
        margin-right: 15vw;
    }

  h3{
    text-align: center;
    background-color:rgb(156, 151, 151);
    border:solid;
    border-radius: 12px;
    width:97vw;
    padding-top:.8em;
    padding-bottom:.8em;
    margin-left:-1vw;
}

#lesson1{
        margin-top: 0vh;
    }

    #magnetcards{
        height:100vh;
        text-align: center;
        width:98vw;
        margin-left:-1vw;
    }

    .words {
        width:44vw;
        height:20vh;
        margin-left: 1.1vw;
        font-size: 1.7vh;
    }

    .words p{
        padding:1.8em;
        
    }

    footer p{
        margin-top: 4vh;
        font-size: 2vh;
    }
    
    footer{
        text-align: center;
        background-color: rgb(32, 32, 32);
        color:rgb(255, 255, 255);
        height:26vh;
        border: rgb(206, 206, 206) solid .5vw;
        width:96vw;
        padding:0em;
        margin-left: 0vw;
    
    }
}

@media only screen 
and (min-device-width : 750px) 
and (min-device-height : 1000px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1){

    #tline p{
        font-size: 4vh;
    }

    .words {
        display: inline-flex;
        width:20.7vw;
        font-family: monospace;
        font-size: 1.2em;
        height:26vh;
        background-color: rgb(69, 69, 90);
        margin-top: 3vh;
        border: solid;
        border-color: black;
        border-width: .25em;
        transition: all .4s;
        margin-left: 1.3vw;
        border-radius:20px ;
    }

    #magnetcards{
        height:64vh;
    }

    footer p{
        margin-top: 4vh;
        font-size: 2vh;
    }

    footer{
        height:24vh;
    }

}
 */
