/* This Section Applies To Everything Unless otherwise set in Media Query */

/* Heading */

#tline{
  height:38vh;
  width:100vw;
  background-color:rgb(120, 118, 118);
  border-bottom:solid whitesmoke;
  color:white;
  
}

h1{
    text-align: center;
    padding-top:1.3em;
    padding-bottom:.8em;
    font-size: 4rem !important;
}

h4{
    text-align: center;
}

h4 img{
    height:6vh;
    margin-left: -6vw;
}

h4 span{
    font-size: 3vh;
    margin-left: 2vw;
    color: rgb(225, 225, 225);
}

/* card flipping */
   
    .front, .back{
        text-align: center;
        font-family: monospace;
        height:32vh !important;
        font-size:2rem;
        margin-top: 3vh;
        border: solid black .5vw;
        border-radius:20px;
        width:22vw !important; 
        margin-left: 2vw;
        position: absolute !important;
    }
 
    .front{
        background-color: rgb(70, 88, 104);
    }
    .back{
        background-color: white;

    }

    

/* changes text on front of cards */

.magtext{
    color:white;
    margin-top: 6vh;
}

.fas{
    color:rgb(227, 227, 206);
    font-size: 7vh;
    transform: rotate(40deg);
}

/* changes text size on back of cards */

.magtext2{
    font-size: 1.5rem;
    color: black;
    margin-top: 0vh;
    padding:6vh 1vw;

}

/* background that holds cards */

.grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    background-image: url(https://cdn3.vectorstock.com/i/thumb-large/53/42/magnet-icon-sign-symbol-in-modern-flat-style-vector-22275342.jpg);
    background-size: contain;
    height: 80vh;
    background-position: center;
    background-repeat:repeat;
    width:100vw;
  }
  .grid-item {
    height:32vh;
  }

/* footer */

#foot{
    margin-top: 8vh;
}

footer a{
    color:white;
}
    
footer p{
        font-size: 2vh;
}

footer{
        text-align: center;
        background-color: rgb(120, 118, 118);
        color:rgb(255, 255, 255);
        height:30vh;
        border-top: rgb(206, 206, 206) solid .5vw;
        width:100vw;

}   

@media(max-width:1300px){

    .magtext{
        font-size: 1.2rem;
    }

    .magtext2{
        font-size: 1rem;
    }

    h4{
        margin-top: -4vh !important;
    }

}

@media only screen 
and (max-device-width : 1200px) 
and (orientation : portrait){

    #tline{
        height:30vh;
    }

    h4{
        margin-top: 1vh !important;
    }

    .magtext2{
        font-size: 1.2rem;
    }

    .front, .back{
        height:23vh !important;
    }

    .grid-container{
        height:56vh;
    }

    .grid-item{
        height:26vh;
    }

    .fas{
        transform: rotate(0deg);
    }
    

}



@media(max-width:900px){

    #tline{
        height:44vh;
    }

    h1{
        font-size: 2rem !important;
    }

    h4{
        margin-top: -8vh !important;
    }

    .magtext{
        font-size: .9rem;
    }

    .magtext2{
        font-size: .8rem;
    }

    .front{
        line-height: 5vh;
    }

    .front, .back{
        height:40vh !important;
        margin-left: 3.5vw;
        width:22vw;
    }

    .grid-container{
        height:90vh;
    }


}

@media only screen 
and (max-device-width : 800px) 
and (orientation : portrait){

    #tline{
        height:30vh;
    }

    h1{
        font-size: 3rem !important;
    }

    h4{
        margin-top: 0vh !important;
    }

    .magtext{
        font-size: 1.0rem;
    }

    .grid-container{
        height:70vh;
    }

    .grid-item{
        height:30vh;
    }

    .front, .back{
        height:30vh !important;
    }

    .fas{
        transform: rotate(0deg);
    }

}

@media(max-width:700px){


    .magtext{
        font-size: 1rem;
    }

    .magtext2{
        font-size: .65rem;
    }

}

@media only screen 
and (max-device-width : 600px) 
and (orientation : portrait){

    .magtext{
        font-size: .8rem;
    }

    .magtext2{
        font-size: .65rem;
    }

    .grid-container{
        grid-template-columns: 2fr 2fr ;
    }

    .fas{
        transform: rotate(0deg);
    }
}

@media(max-width:600px){

    #tline{
        height:48vh;
    }

    .magtext{
        font-size: .9rem;
    }

    .magtext2{
        font-size: .6rem;
    }

    .front, .back{
        margin-left: 4vw;
    }

    .grid-container{
        grid-template-columns: 2fr 2fr 2fr 2fr;
        height: 100vh;
    }

}

@media only screen 
and (max-device-width : 500px) 
and (orientation : portrait){

    #tline{
        height:36vh;
    }

    h1{
        font-size: 2.6rem !important;
    }

    .grid-container{
        grid-template-columns: 2fr 2fr;
        height:106vh;
    }

    .grid-item{
        height:22vh !important;
    }

    .front, .back{
        height:22vh !important;
        width:48vw !important;
        margin-left: 4.5vw;
        line-height: 3vh;
    }

    .fas{
        margin-top: -8vh !important;
        transform: rotate(0deg);
    }
}

@media only screen 
and (max-device-width : 325px) 
and (orientation : portrait){

    h1{
        font-size: 2rem !important;
    }

    .fas{
        transform: rotate(0deg);
    }

}