/* This Section Applies To Everything Unless otherwise set in Media Query */

/* Heading */

#tline{
  height:38vh;
  width:100vw;
  background-color:rgb(120, 118, 118);
  border-bottom:solid whitesmoke;
  color:white;
  
}

h1{
    text-align: center;
    padding-top:1.3em;
    padding-bottom:.8em;
    font-size: 4rem !important;
}

h4{
    text-align: center;
}

h4 img{
    height:6vh;
    margin-left: -6vw;
}

h4 span{
    font-size: 3vh;
    margin-left: 2vw;
    color: rgb(225, 225, 225);
}

/* card flipping */

    /* flip the pane when hovered */
    .flipped {
    /*transform*/
    -webkit-transform:rotateY(180deg);
       -moz-transform:rotateY(180deg);
        -ms-transform:rotateY(180deg);
         -o-transform:rotateY(180deg);
            transform:rotateY(180deg);
    }
   
    /* flip speed goes here */
    .flipper {

    /*transform-style*/
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
            transform-style:preserve-3d;
    
    }
    /* hide back of pane during swap */
    .front, .back{
    /*backface-visibility*/
    -webkit-backface-visibility:hidden;
       -moz-backface-visibility:hidden;
        -ms-backface-visibility:hidden;
         -o-backface-visibility:hidden;
            backface-visibility:hidden;
            text-align: center;
    }
    /* front pane, placed above back */
    .front{
   
    }
    /* back, initially hidden pane */
    .back{
    /*transform*/
    -webkit-transform:rotateY(180deg);
       -moz-transform:rotateY(180deg);
        -ms-transform:rotateY(180deg);
         -o-transform:rotateY(180deg);
            transform:rotateY(180deg);
    background-color: white;
    }

    

/* changes text on front of cards */

.magtext{
    color:white;
    margin-top: 6vh;
}

.fas{
    color:rgb(227, 227, 206);
    font-size: 7vh;
    transform: rotate(40deg);
}

/* changes text size on back of cards */

.magtext2{
    font-size: 1.5rem;
    color: black;
    margin-top: 0vh;
    padding:6vh 1vw;

}

/* backgorund that holds cards */

.grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    background-image: url(https://cdn3.vectorstock.com/i/thumb-large/53/42/magnet-icon-sign-symbol-in-modern-flat-style-vector-22275342.jpg);
    background-size: contain;
    height: 80vh;
    background-position: center;
    background-repeat:repeat;
    width:100vw;
  }
  .grid-item {
    height:32vh;
  }

/* Flip Animation */

.flip {
    backface-visibility: hidden;
    transition: transform 3s;
    font-family: monospace;
    text-align: center;
    height:32vh;
    font-size:2rem;
    background-color: rgb(70, 88, 104);
    margin-top: 3vh;
    border: solid black .5vw;
    border-radius:20px;
    width:22vw;
    position: absolute;
    margin-left: 1.5vw;
   
}

.looks{
    font-family: monospace;
    height:32vh;
    font-size:2rem;
    background-color: rgb(70, 88, 104);
    margin-top: 3vh;
    border: solid black .5vw;
    border-radius:20px;
    width:22vw; 
    margin-left: 1.5vw;
}





/* First Row of 4 */

#side-1 {
    transform: rotateY( 0deg );
}

#side-2 {
    transform: rotateY( 180deg );   
}

#side-3 {
    transform: rotateY( 0deg );
}

#side-4 {
    transform: rotateY( 180deg );   
}

#side-5 {
    transform: rotateY( 0deg );
}

#side-6 {
    transform: rotateY( 180deg );   
}

#side-7 {
    transform: rotateY( 0deg );
}

#side-8 {
    transform: rotateY( 180deg );   
}

.flip-side-1 {    
    transform: rotateY( 0deg ) !important;
}

.flip-side-2 {
    transform: rotateY( 180deg ) !important;
}

.flip-side-3 {    
    transform: rotateY( 0deg ) !important;
}

.flip-side-4 {
    transform: rotateY( 180deg ) !important;
}

.flip-side-5 {    
    transform: rotateY( 0deg ) !important;
}

.flip-side-6 {
    transform: rotateY( 180deg ) !important;
}

.flip-side-7 {    
    transform: rotateY( 0deg ) !important;
}

.flip-side-8 {
    transform: rotateY( 180deg ) !important;
}



/* Second row of 4 */



#side-9 {
    transform: rotateY( 0deg );
}

#side-10 {
    transform: rotateY( 180deg );   
}

#side-11 {
    transform: rotateY( 0deg );
}

#side-12 {
    transform: rotateY( 180deg );   
}

#side-13 {
    transform: rotateY( 0deg );
}

#side-14 {
    transform: rotateY( 180deg );   
}

#side-15 {
    transform: rotateY( 0deg );
}

#side-16 {
    transform: rotateY( 180deg );   
}

.flip-side-9 {    
    transform: rotateY( 0deg ) !important;
}

.flip-side-10 {
    transform: rotateY( 180deg ) !important;
}

.flip-side-11 {    
    transform: rotateY( 0deg ) !important;
}

.flip-side-12 {
    transform: rotateY( 180deg ) !important;
}

.flip-side-13 {    
    transform: rotateY( 0deg ) !important;
}

.flip-side-14 {
    transform: rotateY( 180deg ) !important;
}

.flip-side-15 {    
    transform: rotateY( 0deg ) !important;
}

.flip-side-16 {
    transform: rotateY( 180deg ) !important;
}

/* footer */

#foot{
    margin-top: 8vh;
}

footer a{
    color:white;
}
    
footer p{
        font-size: 2vh;
}

footer{
        text-align: center;
        background-color: rgb(120, 118, 118);
        color:rgb(255, 255, 255);
        height:30vh;
        border-top: rgb(206, 206, 206) solid .5vw;
        width:100vw;

}   

@media(max-width:1300px){

    .magtext2{
        font-size: 1rem;
    }

    h4{
        margin-top: -4vh !important;
    }

    .flip{
        line-height: 4vh;
    }

}

@media only screen 
and (max-device-width : 1200px) 
and (orientation : portrait){

    #tline{
        height:30vh;
    }

    h4{
        margin-top: 1vh !important;
    }

    .flip{
        height:24vh;
        line-height: 2vh;
    }

    .magtext2{
        font-size: 1.2rem;
    }

    .grid-container{
        height:60vh;
    }

    .fas{
        transform: rotate(0deg);
    }
    

}



@media(max-width:900px){

    #tline{
        height:44vh;
    }

    h1{
        font-size: 2rem !important;
    }

    h4{
        margin-top: -8vh !important;
    }

    .magtext{
        font-size: .9rem;
    }

    .magtext2{
        font-size: .8rem;
    }

    .flip{
        height:40vh;
        line-height: 4vh;
    }

    .grid-container{
        height:90vh;
    }


}

@media only screen 
and (max-device-width : 800px) 
and (orientation : portrait){

    #tline{
        height:30vh;
    }

    h1{
        font-size: 3rem !important;
    }

    h4{
        margin-top: 0vh !important;
    }

    .grid-container{
        height:70vh;
    }

    .flip{
        height:28vh;
    }

    .fas{
        transform: rotate(0deg);
    }

}

@media(max-width:700px){


    .magtext{
        font-size: 1.2rem;
    }

    .magtext2{
        font-size: .65rem;
    }

}

@media only screen 
and (max-device-width : 600px) 
and (orientation : portrait){

    .magtext{
        font-size: .8rem;
    }

    .magtext2{
        font-size: .65rem;
    }

    .flip{
        width:44vw;
        display: grid;
    }

    .grid-container{
        grid-template-columns: 2fr 2fr ;
    }

    .fas{
        transform: rotate(0deg);
    }
}

@media(max-width:600px){

    #tline{
        height:48vh;
    }

    .magtext2{
        font-size: .6rem;
    }

    .flip{
        width:30vw;
        line-height: 6vh;
    }

    .grid-container{
        grid-template-columns: 2fr 2fr 2fr;
        height: 134vh;
    }

}

@media only screen 
and (max-device-width : 500px) 
and (orientation : portrait){

    #tline{
        height:36vh;
    }

    h1{
        font-size: 2.6rem !important;
    }

    .grid-container{
        grid-template-columns: 2fr 2fr;
    }

    .flip{
        width:47vw;
        line-height: 2vh;
    }

    .fas{
        margin-top: -8vh !important;
        transform: rotate(0deg);
    }
}

@media only screen 
and (max-device-width : 325px) 
and (orientation : portrait){

    h1{
        font-size: 2rem !important;
    }

    .fas{
        transform: rotate(0deg);
    }

}